<?xml version="1.0" encoding = "UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.soft.login.mapper.AuthMapper">

    <select id="login" parameterType="String" resultType="MemberLoginDTO">
        SELECT
            IDX               -- USER_PK
            ,USER_ID          -- USER 아이디
            ,USER_PW          -- USER 패스워드
            ,NICKNAME         -- USER 닉네임
            ,MBTI             -- USER MBTI 성향
            ,TITLE            -- USER 칭호
        FROM MEMBER
        WHERE
            USER_ID = #{param}

    </select>

    <insert id="register" parameterType="RegisterDTO">
        INSERT INTO MEMBER (
            USER_ID,
            USER_PW,
            NICKNAME,
            MBTI,
            USER_EMAIL,
            CREATE_AT
        )
        VALUES (
            #{userId},
            #{userPw},
            #{userNickname},
            #{mbti},
            #{userEmail},
            SYSDATE()
        )
    </insert>
</mapper>
