<?xml version="1.0" encoding = "UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.soft.login.mapper.BoardMapper">
    <select id="list" parameterType="int" resultType="BoardListDTO">
        SELECT
        p.IDX,
        p.TITLE,
        m.NICKNAME,
        m.MBTI,
        p.VIEW_COUNT,
        p.THUMBNAIL,
        p.CREATE_AT,
        m.TITLE AS USER_GRADE,
        (SELECT COUNT(DISTINCT l.IDX) FROM LIKES l WHERE l.POST_IDX = p.IDX) AS LIKE_COUNT,
        (SELECT COUNT(DISTINCT c.IDX) FROM COMMENTS c WHERE c.POST_IDX = p.IDX AND c.DELETE_YN = 'N') AS COMMENT_COUNT
        FROM
        POSTS p
        INNER JOIN
        MEMBER m ON p.USER_IDX = m.IDX
        WHERE
        p.STATUS = 'PUBLISHED'
        ORDER BY
        p.CREATE_AT DESC
        LIMIT 4 OFFSET #{offset}
    </select>

    <select id="bestlist" parameterType="int" resultType="BoardListDTO">
        SELECT
        p.IDX,
        p.TITLE,
        m.NICKNAME,
        m.MBTI,
        p.VIEW_COUNT,
        p.THUMBNAIL,
        p.CREATE_AT,
        m.TITLE AS USER_GRADE,
        (SELECT COUNT(DISTINCT l.IDX) FROM LIKES l WHERE l.POST_IDX = p.IDX) AS LIKE_COUNT,
        (SELECT COUNT(DISTINCT c.IDX) FROM COMMENTS c WHERE c.POST_IDX = p.IDX AND c.DELETE_YN = 'N') AS COMMENT_COUNT
        FROM
        POSTS p
        INNER JOIN
        MEMBER m ON p.USER_IDX = m.IDX
        WHERE
        p.STATUS = 'PUBLISHED'
        ORDER BY
        p.VIEW_COUNT DESC, p.CREATE_AT DESC
        LIMIT 4 OFFSET #{offset}
    </select>

    <select id="mylist" parameterType="BoardMyListParam" resultType="BoardListDTO">
        SELECT
        p.IDX,
        p.TITLE,
        m.NICKNAME,
        m.MBTI,
        p.VIEW_COUNT,
        p.THUMBNAIL,
        p.CREATE_AT,
        m.TITLE AS USER_GRADE,
        (SELECT COUNT(DISTINCT l.IDX) FROM LIKES l WHERE l.POST_IDX = p.IDX) AS LIKE_COUNT,
        (SELECT COUNT(DISTINCT c.IDX) FROM COMMENTS c WHERE c.POST_IDX = p.IDX AND c.DELETE_YN = 'N') AS COMMENT_COUNT
        FROM
        POSTS p
        INNER JOIN
        MEMBER m ON p.USER_IDX = m.IDX
        WHERE
        p.STATUS = 'PUBLISHED'
        AND p.USER_IDX = #{userIdx, jdbcType=BIGINT}
        ORDER BY
        p.CREATE_AT DESC
        LIMIT 4 OFFSET #{offset}
    </select>
    <insert id="write" parameterType="BoardWriteDTO">
        INSERT INTO POSTS (
            USER_IDX,
            PLAN_IDX,
            TITLE,
            CONTENT,
            THUMBNAIL
        ) VALUES (
            #{userIdx},
            #{planIdx},
            #{title},
            #{content},
            #{thumbnail}
        )
    </insert>
    <select id="mine" resultType="long">
        SELECT USER_IDX
        FROM POSTS
        WHERE IDX = #{param}
    </select>
    <select id="count" resultType="int">
        SELECT COUNT(*)
        FROM POSTS
        WHERE STATUS = 'PUBLISHED'
    </select>

    <select id="detail" parameterType="long" resultType="BoardDetailDTO">
        SELECT
            p.IDX,
            p.TITLE,
            p.CONTENT,
            p.VIEW_COUNT,
            p.CREATE_AT,
            m.NICKNAME,
            m.MBTI,
            m.TITLE AS userGrade,
            m.USER_COMMENT AS userIntro,
            (SELECT COUNT(*) FROM LIKES l WHERE l.POST_IDX = p.IDX) AS likeCount
        FROM
            POSTS p
        INNER JOIN
            MEMBER m ON p.USER_IDX = m.IDX
        WHERE
            p.IDX = #{idx} AND p.STATUS = 'PUBLISHED'
    </select>

    <select id="roadmap" parameterType="long" resultType="RoadmapDTO">
        SELECT
            PLAN_TITLE as planTitle,
            VISIT_ORDER as visitOrder,
            VISIT_TIME as visitTime,
            MEMO as memo,
            TYPES as types,
            ADDRESS as address
        FROM
            PLAN_DETAIL
        WHERE
            PLAN_IDX = (SELECT PLAN_IDX FROM POSTS WHERE IDX = #{idx})
        ORDER BY
            VISIT_ORDER ASC
    </select>

    <select id="comment" parameterType="long" resultType="CommentDTO">
        SELECT
            c.IDX as idx,
            c.CONTENT as content,
            c.CREATE_AT as createAt,
            m.NICKNAME as nickname,
            m.MBTI as mbti
        FROM
            COMMENTS c
        INNER JOIN
            MEMBER m ON c.USER_IDX = m.IDX
        WHERE
            c.POST_IDX = #{idx} AND c.DELETE_YN = 'N'
        ORDER BY
            c.CREATE_AT ASC
    </select>

    <update id="plusViewCount" parameterType="long">
        UPDATE POSTS
            SET VIEW_COUNT = VIEW_COUNT + 1
        WHERE IDX = #{idx}
    </update>

    <insert id="insertcomment" parameterType="CommentReq">
        INSERT INTO COMMENTS (
            POST_IDX,
            USER_IDX,
            CONTENT,
            DELETE_YN,
            CREATE_AT
        ) VALUES (
            #{postIdx},   #{userIdx},   #{content},   'N',
            CURRENT_TIMESTAMP
        )
    </insert>

    <select id="edit" parameterType="long" resultType="BoardEditDTO">
        SELECT
            IDX as postIdx,
            TITLE as title,
            CONTENT as content,
            THUMBNAIL as thumbnail,
            PLAN_IDX as planIdx
        FROM
            POSTS
        WHERE
            IDX = #{postIdx}
    </select>
    <update id="updateBoard" parameterType="BoardUpdateDTO">
        UPDATE
            POSTS
        SET
            TITLE = #{title},
            CONTENT = #{content},
            THUMBNAIL = #{thumbnail},
            PLAN_IDX = #{planIdx}
        WHERE
            IDX = #{idx}
    </update>
    <update id="deletePost" parameterType="long">
        UPDATE
            POSTS
        SET
            STATUS = 'DELETED'
        WHERE
            IDX = #{idx}
    </update>
    <select id="top3" resultType="BoardTop3DTO">
        SELECT
            p.IDX,
            p.TITLE,
            p.THUMBNAIL,
            p.VIEW_COUNT AS viewCount,
            p.CONTENT,
            (SELECT COUNT(*) FROM LIKES l WHERE l.POST_IDX = p.IDX) AS likeCount,
            (SELECT COUNT(*) FROM COMMENTS c WHERE c.POST_IDX = p.IDX) AS commentCount
        FROM
            POSTS p
        WHERE
            p.STATUS = 'PUBLISHED'
        ORDER BY
            p.VIEW_COUNT DESC
        LIMIT 3
    </select>





</mapper>
