<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.soft.login.mapper.FollowMapper">

    <select id="findByFollowerAndFollowing" resultType="map">
        SELECT * FROM follow
        WHERE FOLLOW_IDX = #{myIdx} AND FOLLOWING_IDX = #{targetIdx}
    </select>

    <insert id="insertFollow">
        INSERT INTO follow (FOLLOW_IDX, FOLLOWING_IDX, DELETE_YN, CREATE_AT)
        VALUES (#{myIdx}, #{targetIdx}, 'N', NOW())
    </insert>

    <update id="updateFollowStatus">
        UPDATE follow
        SET DELETE_YN = #{status}
        WHERE FOLLOW_IDX = #{myIdx} AND FOLLOWING_IDX = #{targetIdx}
    </update>

    <select id="getFollowingList" resultType="kr.soft.login.dto.follow.FollowDTO">
        SELECT
        f.IDX as idx,
        m.idx as userIdx,
        m.nickname,
        m.mbti,
        NULL as profileImage,     NULL as statusMessage,    true as isFollowBack
        FROM follow f
        JOIN member m ON f.FOLLOWING_IDX = m.idx
        WHERE f.FOLLOW_IDX = #{myIdx}
        AND f.DELETE_YN = 'N'
    </select>

    <select id="getFollowerList" resultType="kr.soft.login.dto.follow.FollowDTO">
        SELECT
        f.IDX as idx,
        m.idx as userIdx,
        m.nickname,
        m.mbti,
        NULL as profileImage,     NULL as statusMessage,    (SELECT COUNT(*)
        FROM follow sub
        WHERE sub.FOLLOW_IDX = #{myIdx}
        AND sub.FOLLOWING_IDX = m.idx
        AND sub.DELETE_YN = 'N') > 0 as isFollowBack
        FROM follow f
        JOIN member m ON f.FOLLOW_IDX = m.idx
        WHERE f.FOLLOWING_IDX = #{myIdx}
        AND f.DELETE_YN = 'N'
    </select>

    <select id="searchUser" resultType="kr.soft.login.dto.follow.FollowDTO">
        SELECT
        m.idx AS userIdx,
        m.nickname,
        m.mbti,
        NULL AS profileImage,
        NULL AS statusMessage,

        (SELECT COUNT(*)
        FROM follow f
        WHERE f.FOLLOW_IDX = #{myIdx}
        AND f.FOLLOWING_IDX = m.idx  AND f.DELETE_YN = 'N') > 0 AS isFollowBack

        FROM member m  WHERE m.nickname LIKE CONCAT('%', #{keyword}, '%') AND m.idx != #{myIdx} </select>

    <select id="checkFollow" resultType="int">
        SELECT count(*)
        FROM follow
        WHERE FOLLOW_IDX = #{followerIdx}
        AND FOLLOWING_IDX = #{followingIdx}
        AND DELETE_YN = 'N'  </select>
</mapper>

