<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.soft.login.mapper.PlanMapper">

    <insert id="insertPlan" parameterType="kr.soft.login.dto.PlanSaveRequest"
            useGeneratedKeys="true" keyProperty="planIdx" keyColumn="IDX">
        INSERT INTO plans (
        USER_IDX,
        TITLE,
        IS_AI,
        DELETE_YN,
        CREATE_AT
        ) VALUES (
        #{userIdx},
        #{title},
        1,
        'N',
        NOW()
        )
    </insert>

    <insert id="insertDetail">
        INSERT INTO plan_detail (
        PLAN_IDX,
        PLAN_TITLE,
        VISIT_ORDER,
        TYPES,
        VISIT_TIME,
        ADDRESS
        ) VALUES (
        #{planIdx},
        #{detail.title},
        #{detail.day},
        #{detail.category},
        #{detail.time},
        #{detail.address}
        )
    </insert>

    <select id="selectPlansByUser" resultType="kr.soft.login.dto.PlanResponse">
        SELECT
        IDX AS planIdx,
        TITLE AS title,
        CREATE_AT AS createAt
        FROM plans
        WHERE USER_IDX = #{userIdx}
        ORDER BY CREATE_AT DESC
    </select>

    <select id="selectPlanDetails" resultType="kr.soft.login.dto.PlanDetailDto">
        SELECT
        VISIT_ORDER AS day,
        VISIT_TIME AS time,
        PLAN_TITLE AS title,
        ADDRESS AS address,
        TYPES AS category
        FROM plan_detail
        WHERE PLAN_IDX = #{planIdx}
        ORDER BY VISIT_ORDER ASC, VISIT_TIME ASC
    </select>

    <delete id="deletePlan">
        DELETE FROM plans
        WHERE IDX = #{planIdx}
    </delete>

    <delete id="deletePlanDetails">
        DELETE FROM plan_detail
        WHERE plan_idx = #{planIdx}
    </delete>

    <select id="selectPlanById" resultType="kr.soft.login.dto.PlanResponse">
        SELECT
        IDX AS planIdx,
        TITLE AS title,
        CREATE_AT AS createAt
        FROM plans
        WHERE IDX = #{planIdx}
    </select>

    <update id="updatePlanTitle">
        UPDATE plans SET TITLE = #{title} WHERE IDX = #{planIdx}
    </update>

    <delete id="deleteDetailsByPlanIdx">
        DELETE FROM plan_detail WHERE PLAN_IDX = #{planIdx}
    </delete>

</mapper>